*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.gwal{
	font-size: 16px;
    margin-top: -18px;
    font-family: monospace;
    text-transform: capitalize;
    color: #006780;
    /*text-align: justify;*/
    /*line-height: 20px;*/
}
.img3{
	width: 53%;
	height: 300px;
	margin-top: 26px;
}
.des{
	letter-spacing: 2px;
    font-size: 44px;
    text-shadow: 2px 3px 2px #006780;
    margin-top: 35px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: monospace;
    color: darkorange;
}
@media(max-width: 768px){
	.img3{
		margin-top: 28px;
	}
}
.loc{
	letter-spacing: 2px;
    font-size:17px;
    /*text-shadow: 2px 3px 2px #006780;*/
    margin-top: 35px;
    margin-bottom: 25px;
    font-family: monospace;
    color: darkorange;
    color:black ;
    text-transform: capitalize;
}
.g{
    font-size: 17px;
    /*margin-top: -18px;*/
    font-family: monospace;
    text-transform: capitalize;
    color: #006780;	
    text-decoration: none;
}